body{
    font-family:Arial,Helvetica,sans-sarif;
    font-size:15px;
    line-height:1.5;
    font:15px/1.5 Arial, Helvetice,sans-serief;
    
    padding:0px;
    margin:0px;
    background-color:#f4f4f4;
    }
    
    
    
    .container{
    width:80%;
    margin:auto;
    overflow:hidden;
    }
    .container1{
        width:auto;
        margin:auto;
        overflow:hidden;
        }
    
    ul{
    margin:0;
    padding:0;
    }
    
    .button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-right:20px;
    padding-left:20px;
    color:#ffffffff;
    
    }
    
     /* Header */
    
    header{
    background:#e8491d;
    color:#ffffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
    
    }
    
    header a{
    color:#ffffffff;
    text-decoration:non;
    text-transform:uppercase;
    font-size:16px;
    }
    
  
    
    header li {
        
    display:inline;
    padding:0 20px 0 20px;
    }
    
    
    header #branding{
    
    float:left;
    }
    
    header #branding h1{
    margin:0;
    
    }
    
    header nav{
    float:right;
    margin-top:10px;
    
    }
    
    
    header .highlight,header .current a{
    
    color:#e8491d;
    font-weight: bold;
    }
    
    header a:hover{
    color:#cccccc;
    font-weight:bold;
    
    
    }
    
    
    
    
    
    /* //showcase */
    
    #showcase{
    min-height:440px;
    margin-top:0px;
    /* width:auto;
    height:auto;
    margin:auto; */
    background:url('../pic/Capture1.PNG') no-repeat ;
    /* background-color: cyan; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    color:black;
    }
    
    #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
    }
    
    
    #showcase p{
    font-size:20px;
    
    }
    
    /* News Area */
    
    #newsletter{
    padding:15px;
    color:#ffffff;
    background:#35424a;
    
    }
    
    #newsletter h1{
    float:left;
    
    }
    
    #newsletter form{
    float:right;
    margin-top:15px;
    }
    
    #newsletter input[type="email"]{
    padding:4px;
    height:20px;
    width:200px;
    }
    
    
    
     /* boxes */
    
    #boxes{
    margin-top:20px;
    }
    
    #boxes .box{
    float:left;
    width:15%;
    padding:10px;
    text-align:center;
    }
    
    #boxes .box img{
    width:90px;
    
    }
    
    footer{
    padding:0px;
    margin-top:0px;
    color:#ffffff;
    background-color:#e8491d;
    text-align:center;
    }


      
    footer div {
       
        display:inline;
        padding:0 20px 0 20px;
        }

      
            
  